<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Actualizar información</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Actualiza tu información...
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="doc.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-textarea [(ngModel)]="doc.detail"></ion-textarea>
    </ion-item>
    <ion-button mode="md" color="success" expand="block" fill="outline" (click)="onSaveInfo()">
      <ion-icon mode="md" name="checkmark"></ion-icon>
      Actualizar
    </ion-button>
  </ion-list>
</ion-content>
