<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Info de {{doc?.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeActionCreateButton()" *ngIf="!createOrUpdate">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onSaveDoc()" *ngIf="createOrUpdate">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

  </ion-list>
  <ion-list>
    <ion-list-header>
      Detalle:
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [disabled]="!createOrUpdate" [(ngModel)]="doc.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Detalle</ion-label>
      <ion-textarea [disabled]="!createOrUpdate" [(ngModel)]="doc.detail"></ion-textarea>
    </ion-item>
    <ion-list-header>
      Documentos:
    </ion-list-header>
    <ion-item-sliding *ngFor="let extra of docsExtra; let i = index">
      <ion-item (click)="onItemSelected($event)">
        <ion-avatar slot="start">
          <img src="assets/icons/png/{{extra.type}}.png" alt="doc-info-extra">
        </ion-avatar>
        <ion-label>
          <h2>{{extra.name}}</h2>
          <p>{{extra.path}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" *ngIf="createOrUpdate" (click)="onRemoveDoc(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>

    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="openFile()" [disabled]="!createOrUpdate">
    <ion-icon name="add" slot="start" ></ion-icon>
    Cargar nuevo archivo
  </ion-button>
  <!--
  <ion-button expand="block" (click)="onPrompEmail()">
    <ion-icon name="send" slot="start" ></ion-icon>
    Enviar documentos por correo electronico
  </ion-button>
  -->
</ion-content>
