<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Billetera QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let doc of scanDocuments">
    <ion-card color="tertiary" class="ion-no-padding">
      <ion-card-header>
        <span>{{doc.name}}</span>
        <ion-icon style="float: right;" (click)="presentActionSheet(doc, doc.url, doc.extra)" name="ellipsis-vertical">
        </ion-icon>
      </ion-card-header>
      <div class="ion-text-center" *ngIf="doc.url">
        <ngx-qrcode
          class="text-center"
          [elementType]="elementType"
          [errorCorrectionLevel]="correctionLevel"
          [value]="doc.url"
          (click)="openQR($event)"
        >
        </ngx-qrcode>
      </div>
      <div class="ion-text-center" *ngIf="!doc.url">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let listDocs of doc?.extra?.docs">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <img [src]="'assets/icons/png/'+listDocs.type+'.png'" alt="type-docs" style="width: 80px">
              </ion-card-header>
              <ion-card-content>
                <p class="ion-text-center">{{listDocs.name}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-card-content>
        <ion-card-subtitle>Observación: <strong>{{doc.detail}}</strong></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="scanQR()" color="primary">
        <ion-icon name="qr-code"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openFile()" color="primary">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
